<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div id="homework-container">
    <div class="wrapper">
        <header>
            <h2>Выберите друзей</h2>
            <div class="close"></div>
        </header>
        <div class="filter">
            <div class="col">
                <input type="text" name="friend">
            <h3>Ваши друзья</h3>
            </div>
            <div class="col">
                <input type="text" name="friendInList">
                <h3>Друзья в списке</h3>

            </div>
        </div>
        <div class="main">
            <div class="col">
                
                <div class="list">
                    <div class="item" draggable="true">
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/men/47.jpg" alt="">
                        </div>
                        <div class="name">Вася Рогов</div>
                        <div class="action"></div>
                    </div><div class="item" draggable="true">
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/men/42.jpg" alt="">
                        </div>
                        <div class="name">Вася Рогов</div>
                        <div class="action"></div>
                    </div><div class="item" draggable="true">
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="">
                        </div>
                        <div class="name">Вася Рогов</div>
                        <div class="action"></div>
                    </div><div class="item" draggable="true">
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/women/54.jpg" alt="">
                        </div>
                        <div class="name">Вася Рогов</div>
                        <div class="action"></div>
                    </div><div class="item" draggable="true">
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/men/14.jpg" alt="">
                        </div>
                        <div class="name">Вася Рогов</div>
                        <div class="action"></div>
                    </div><div class="item" draggable="true">
                        <div class="avatar">
                            <img src="https://randomuser.me/api/portraits/men/27.jpg" alt="">
                        </div>
                        <div class="name">Вася Рогов</div>
                        <div class="action"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list selected">
                    
                </div>
            </div>
        </div>
        <footer>
            <button>Сохранить</button>
        </footer>
    </div>
</div>
</body>
</html>